<!DOCTYPE html>
<html>
<head>
  <title>Twitter Congress</title>
  <!-- Bootstrap --> 
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
  <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>

  <!-- Custom CSS for Twitter Congress -->
  <link href="{{ STATIC_URL }}css/twittercongress.css" rel="stylesheet" type="text/css" />

</head>

<body>
  <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="mailto:alexander@usv.com">Contact</a></li>
        </ul>
        <h3 class="muted">Tweet @ Congress</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Tweet @ Congress</h1>
        </br>

        {% if not error_message %}
        <p class="lead">Just input your ZIP code to follow your Congressional Representatives on Twitter</p>
        {% else %}
          <p class="lead text-error">Sorry, '{{ error_message }}' is not viable a ZIP code!</p>
        {% endif %}
        
        <form action="/" method="get" class="form-search">
        <input type="text" class="input-medium search-query" name="zip_code"/>
        <button type="submit" class="btn btn-primary">Find!</button>
        
        </form>
      </div>

      <hr>

      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Representative Democracy...</h4>
          <p>Is best served by a continuous, unfiltered dialogue between citizens and their representatives.</p>
        </div>

        <div class="span6">
          <h4>Social networks...</h4>
          <p>Such as Twitter are perfectly made to faciliate this discussion on a daily basis.</p>
        </div>
        
        <h3 id="dead_simple">We're just making it dead simple.</h3>
      </div>

      <hr>

      <div class="footer">
        <img id="footer_logo" src="{{ STATIC_URL }}img/sunlight_logo.gif" alt="Powered by the Sunlight Foundation">
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
