{% extends "base.html" %}

{% block body %}
  {% if message %}
    <h4>{{ message }}</h4>
  {% endif %}

  {% if error %}
    {{ error }}</br>
  {% endif %}
 
{{ dictionary }}

  {% for dict in dictionary.get_fields.items %}
    {{ dict.name }}
  {% endfor %}

  {% for dict in dictionary.items %}
    {{ dict.name }}
  {% endfor %}

  {{ 500.name }}

  {{ first_name }}fafa

  {{ test.first_name }}lala

  politicians:
  {% for politician in politicians %}
    {{ politician.last_name }}
  {% endfor %}

  
  {% if form %}
    <form method="post" action="">{% csrf_token %}
      {% if form %}
        {{ form.as_table }} 
        </br>
        <button type="submit" class="btn btn-primary">Search</button>
      {% endif %}
    </form>
  {% endif %}

{% endblock %}